html {
	background-color: black;
	color: #99000d;
}
::-moz-selection {
	color: black;
	background: #FF0000;
}
::selection {
	color: black;
	background: #FF0000;
}
img {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-right: 50px;
}